html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0px;
    display: flex;
    min-height: 100%;
    min-width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
    background: linear-gradient(#E66465, #9198E5)
}

.title-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
    .options {
        height: 10%;
        width: 100%;
        display: flex;
        
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
        .options p {
                font-size: 20px;
                font-family: monospace;

            }
            .options button {
                padding: 10px 25px;
                font-size: 25px;
                font-family: monospace;
                text-align: center;
                background-color: rgb(23, 237, 116);
                display: flex;
                justify-content: center;
                min-width: 10%;
                
            }
            .options button:hover {
                background-color: #58df5d;
                transform: scale(1.06);
            }

    .scorecard {
        background-color: rgba(255, 255, 255, 0.3);
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .scorecard h1 {
            font-family: monospace;
            font-size: 1.1em; 
        }
        .scores {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: rgb(181, 162, 255);
        }
            .scores div {
                display: flex;
                flex-direction: column;
                flex: 1;
                border: 1px solid;
            }
            .scores p {
                flex: 1;
                font-size: 1.1em;
                font-family: monospace;
            }
            .scores #player-score {
                margin-bottom: 0px;
            }


    



.play-area{
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    margin-top: 40px;
    
}
    .round-output {
        display: flex;
        height: 50px;
    }
    .round-output p{
        font-size: 30px;
        font-weight: bold;
        font-family: monospace;
        margin: 0px;
    }
    .buttons p {
        font-size: 50px;
        margin-bottom: 40px;
        margin-top: 40px;

        font-family: monospace;
    }
    .buttons {
        
        height: 55%;
        display: flex;
        
        justify-content: center;
        
    }
    .buttons i {
        font-size: 150px;
        
        
        
    }
    .buttons i:hover {
        color: red;
        font-size: 160px;
        
    }
    .buttons div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 20px;
    }
    .rock {
        padding: 0px 40px;
    }


#green-text {
    color: green;
    text-shadow: -6px -3px 14px #0ff7e0;
    font-size: 40px;

}

#red-text {
    color: red;
    text-shadow: -6px -3px 12px black;
    font-size: 40px;
}

.active {
    border: 4px solid red;
}